.sidebar-section {
  text-align: center;
  padding: 10px 0;
}

.media-section-title {
  font-weight: 600;
  margin: 20px 5px 10px 5px;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

.media-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  padding: 5px 0;
}
