.video-player-container {
  width: 100vw;
  height: 100vh;
}

.video-player-container .video-player {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.video-player-container .canvas {
  height: auto;
  width: auto;
}

.video-player-container .video-element {
  width: 100%;
  visibility: hidden;
}
